{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <!-- header class="cover bg-top" style="background-image: url('{{ $featured_image }}');" -->
  <header class="cover bg-top">
    <!-- div class="pb3-m pb6-l bg-black-60" -->
    <div>
      {{ partial "site-navigation.html" . }}
    </div>
  </header>

<div class="poster">
<img src="{{ $featured_image }}">
</div>

{{ else }}
  <header>
    <div>
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
