{{/* this is the partial template used to display the online player with the audio of current page */}}

<h2>线上收听</h2>

<audio controls="">
<source src="{{- .Site.Params.statsPrefix -}}
{{- with .Params.external_mp3 -}}
{{- if ne . "yes" -}}
{{- $.Site.Params.baseURL | string -}}
{{- end -}}
{{- end -}}
{{- .Params.mp3 | string -}}" type="audio/mpeg">
<embed src="{{ .Site.Params.statsPrefix }}
{{- with .Params.external_mp3 -}} 
{{- if ne . "yes" -}}
{{- $.Site.Params.baseURL | string -}}
{{- end -}}
{{- end -}}
{{- .Params.mp3 | string -}}">
</audio>