{{/* this is used to display the author, translator and reader information on single page */}}

{{ if (and (isset .Params "reader_name") (gt (len .Params.reader_name) 0)) }}
{{ $url := print .Site.Params.baseURL "/" .Params.reader ".html" }}

<blockquote class="athelas ml0 mt0 pl4 black-90 bl bw2 b--blue">
<p>
{{ if (and (isset .Params "author_name") (gt (len .Params.author_name) 0)) }}
作者：{{- .Params.author_name -}}
<br />
{{ end }}
{{ if (and (isset .Params "translator_name") (gt (len .Params.translator_name) 0)) }}
译者：{{- .Params.translator_name -}}
<br />
{{ end }}
朗读者：<a href="{{- $url -}}">{{- .Params.reader_name -}}</a>
</blockquote>

{{ end }}